body:not(.ecwid-customer-loggedIn) {
  /* Hide prices when not logged in.  */
  & .grid-product__price,
	& .ins-component__price,
  & .product-details__product-price {
    display: none !important;
  }
  /* Hide add to shopping bag when not logged in. */
  & .details-product-purchase__add-buttons,
  & .details-product-purchase__bag-controls,
	& .details-product-purchase__controls,
	& .details-product-price-taxes__text,
	& .details-product-price-taxes__desc {
    display: none !important;
  }
	& .product-details-module__content [itemprop="seller"]::after {
		content: 'Log in via "Mijn account" om prijzen in te zien en om producten toe te voegen aan uw winkelmandje.';
	}
  /* When not logged in. */
  & .ec-cart {
    & .ec-cart__message,
    & .ec-cart__button {
      display: none !important;
    }

    &::after {
      content: 'Log in via "Mijn account" om prijzen in te zien en om producten toe te voegen aan uw winkelmandje.';
      display: block;
      max-width: 24rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: 24px;
    }
  }
}
